<!doctype html>
<html lang="en">
	<head>
		<title>Lilian Bouzeau</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--icône-->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<!--CSS-->
		<link rel="stylesheet" href="css/view.css">
</head>
<body>
    <div class="container-fluid mt-5 row align-items-center justify-content-center">
        <div class="row col-lg-12 justify-content-center align-items-center">
            <img class="logoErreur404" src="images/logo.png"alt="Logo" width="25%">
            <h4 class="ml-5">La page que vous recherchez semble introuvable.</h4>
        </div>
        <div class="row col-lg-12 justify-content-center my-3">
            <a class="btn btn-secondary" type="button" href="index.php">Revenir à l'accueil</a>
        </div>
    </div>
    <footer class=" colorFooter fixed-bottom">
        <div class="justify-content-center">
            <svg>
                <hr class="separateurFooter2"/>
                <hr class="separateurFooter"/>
            </svg> 
            <div>
                <p>© 2020 Copyright: Lilian Bouzeau</p>
            </div>
        </div>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>