<div class="container-fluid">
    <button onclick="topFunction()" type="button" class="btn btn-outline-light btnNone" id="myBtn" title="Haut de page"><i class="fas fa-arrow-up"></i></button>
    <!--qui sui-je-->
    <div id="aPropos" class="row justify-content-center">
        <div class="col-lg-12 text-center heightP">
            <h3 class="my-5">Qui suis-je?</h3>
            <p> Bonjour, je m'appelle Lilian Bouzeau, j'ai 21 ans. <br> Je suis un développeur web junior.<br>
            </p>
        </div>
    </div>
    <svg>
        <hr class="separateur1-1"/>
        <hr class="separateur3-1"/>
    </svg>
    <!--compétences-->
    <div id="competence" class="row justify-content-center">
        <div class="col-lg-12 text-center heightC">
            <h3 class="my-5">Compétences</h3>
            <div class="row justify-content-center">
                <ul class="mx-3 borderD">
                    <h4 class="my-3">Front-End</h4>
                    <li>Maquetter un site internet</li>
                    <li>Réaliser une interface utilisateur web statique et adaptable</li>
                    <li>Développer une interface utilisateur web dynamique</li>
                </ul>
                <ul class="mx-3 borderD">
                    <h4 class="my-3">Back-End</h4>
                    <li>Création de base de données</li>
                    <li>Développer des composants d'accès aux données</li>
                    <li>Développer la partie back-end d'un site web ou web mobile</li>
                </ul>
            </div>
        </div>
    </div>
    <svg>
        <hr class="separateur2-1"/>
        <hr class="separateur3-2"/>
    </svg>
</div>
<div class="separateurImage1"></div>
<div class="container-fluid">
    <!--Langages/Framework-->
    <div id="langages" class="row justify-content-center">
        <div class="col-lg-12 text-center heightL">
            <h3 class="my-5">Langages/Framework</h3>
            <div class="row justify-content-center">
                <ul>
                    <h4 class="my-3">Front-End</h4>
                    <li>HMTL5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                </ul>
                <ul>
                    <h4 class="my-3">Back-End</h4>
                    <li>PHP</li>
                    <li>MySQL</li>
                </ul>
                <ul>
                    <h4 class="my-3">Framework</h4>
                    <li>React</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                </ul>
                <ul>
                    <h4 class="my-3">Autres</h4>
                    <li>Visual Studio Code</li>
                    <li>Photoshop</li>
                    <li>Xampp</li>
                    <li>Word</li>
                    <li>Powerpoint</li>
                </ul>
            </div>
        </div>
    </div>
    <svg id="svg">
        <hr class="separateur1-2"/>
        <hr class="separateur3-3"/>
    </svg>
    <!--Diplômes/*Expériences-->
    <div id="diplome" class="row justify-content-center">
        <div class="col-lg-12 text-center heightD">
            <h3 class="my-5">Diplômes/Expériences</h3>
            <div class="row justify-content-center">
                <ul class="mx-3 borderD">
                    <h4 class="my-3">Diplômes</h4>
                    <li>Titre Professionnel Développeur Web & Web Mobile</li>
                </ul>
                <ul class="mx-3 borderD">
                    <h4 class="my-3">Expériences</h4>
                    <li>Stage école d'ingénieurs ECAM EPMI</li>
                    <li>Site internet www.empiezart-deco.com</li>
                </ul>
            </div>
        </div>
    </div>
    <svg>
        <hr class="separateur2-2"/>
        <hr class="separateur3-4"/>
    </svg>
</div>
<div class="separateurImage2"></div>
<div class="container-fluid">
    <!--Contact-->
    <div id="contact" class="row justify-content-center heightFooter">
        <div class="col-lg-12 text-center ">
            <h3 class="mt-5 mb-3">Contact</h3>
            <div class="row justify-content-center">
                <ul>
                    <li>Numéro: 07.66.03.62.79</li>
                    <li>Email: lbouzeau@gmail.com</li>
                    <li>Adresse: Paris</li>
                    <li>Linkedin: Lilian Bouzeau</li>
                </ul>
            </div>
        </div>
    </div>
</div>